---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  font-family: $global-font-family;
  font-size: $type-size-6;
}

$custom-padding-left: 40px;
$main-color: #a0e4ca;
$secondary-color: #35a8ad;

.sidebar>* {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 64em) {
    display: block;
    text-align: left;
  }
}

.author__avatar {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 15px;

  @media (min-width: 64em) {
    margin-bottom: 0;
  }
}

.author__avatar img {
  max-width: 130px;
  min-height: 130px;

  @media (min-width: 64em) {
    min-width: 180px;
    min-height: 180px;
    margin-left: 20px;
  }
}

.archive__subtitle {
  margin: 0;
}

.archive__item-title {
  margin-top: 1em;
}

.breadcrumbs ol, .archive {
  padding-left: $custom-padding-left;
}

.page {
  padding-left: $custom-padding-left;
  padding-right: 50px;
}

.page__hero--overlay {
  margin-bottom: 1em;
}

.page__content {
  text-align: justify;
}

.page__footer {
  background-color: $secondary-color;
}

.language-plaintext {
  background-color: #d5e2e8;
}

::selection {
  background: $main-color;
  color: #3d4144;
}

.notice--success {
  font-size: 1em !important;
}
